fastapi
uvicorn
python-multipart
jinja2
pandas
numpy
openpyxl
scikit-learn
tensorflow-cpu==2.16.1
joblib
matplotlib
pulp
seaborn
passlib==1.7.4
python-jose
sqlalchemy
psycopg2-binary
bcrypt==4.0.1
h5py
