<!DOCTYPE html>
<html lang="tr">

<head>

<meta charset="UTF-8">

<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
>

<title>
    Opti Rota
</title>

<link
    rel="stylesheet"
    href="/static/style.css"
>

<script src="/static/app.js" defer></script>

{% block extra_head %}{% endblock %}

</head>

<body>

<div class="stars-bg"></div>

{% from "macros.html" import navbar %}

{{ navbar() }}

<div class="page-wrap">

    {% block content %}

    {% endblock %}

</div>

</body>

</html>
